.card{ 
     border:none;
     width: 500px;
     padding: 40px;
     margin-top: 80px;
     left: 35%;
     background: hsla(205,46% ,30% , 1);
     background: linear-gradient(90deg,hsla(205,46% ,30% , 1) 0%, hsla(260,29% ,36% ,1) 100%);
 }
 .card h1,
 h6 {
     color: #fff;
 }
 label {
     color: #fff;
 }
 body{
   
    background: linear-gradient(45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%);
     
 }