<body style="height: 750px;">
<app-navbaruser></app-navbaruser>
<h1  >Listes des vols   <button class="button" (click)="addvol()">  Ajouter un vol</button></h1> 

<table class="table">
    <thead>
        <tr>
            <th>code_vole</th>
            <th>dateDepart</th>
            <th>ville_depart</th>
            <th>ville_dest</th>
            <th>nomberClassA</th>
            <th>prixClassA</th>
            <th>nomberClassB</th>
            <th>prixClassB</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
          <tr *ngFor= " let vol of vols" >
          <td>{{vol.code_vol}}</td>
          <td>{{vol.dateDepart}}</td>
          <td>{{vol.ville_depat}}</td>
          <td>{{vol.ville_dest}}</td>
          <td>{{vol.nombreClassA}}</td>
          <td>{{vol.prixClassA}}</td>
          <td>{{vol.nombreClassB}}</td>
          <td>{{vol.prixClassB}}</td>
          
          <td><button class="button" (click)="deletetvols(vol.code_vol)">delete</button></td>

          
        </tr>

       
    </tbody>
   
</table>
<a></a>