h1 {
    font-family: initial;
    text-align: center;
    padding-top: 2rem;
    font-size: 3rem;
    color: #B52E31;
    text-shadow: 2px 2px gray;
    
    
    }
.button {
        background-color: #1a7e93; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
      }
      body{
   
        background: linear-gradient(45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%);
         
     }